

body {
   font-family: courier new;
}

.ingredients {
   color: white;
}

.burgerwrapper {
	margin: 5px 50px;
	padding: 15px;
}

#burgers {
	background-color: black;
	border: 2px dashed yellow;
	padding: 5px 10px;
}

#lactose {
   font-weight: bold;
}
#gluten {
   font-weight: bold;
}
#unknown {
   font-weight: bold;
}

button {
	margin: 10px 0px;
}
button:hover {
   background: blue;
   cursor: alias;
}